body {
    background-color: #1B202B;
    font-size: 2em;
    color: aliceblue;
}

.App-logo {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.app-title {
    margin-left: auto;
    margin-top: auto;
}

#header {
    text-align: center;
}

.App-intro {
    text-align: center;
}

.table {
    font-family: monospace;
    font-size: xx-large;
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center
}